{{ define "container-table" }}
  <div class="px-4 sm:px-6 lg:px-8">

      {{ template "breadcrumbs" .}}

    <div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
      <div class="flex items-center space-x-5">
        <div class="flex-shrink-0">
          <div class="relative">
            <img class="h-16 w-16 rounded-md"
                 src="https://via.placeholder.com/100x100"
                 alt="">
            <span class="absolute inset-0 shadow-inner rounded-full"
                  aria-hidden="true"></span>
          </div>
        </div>
        <div>
          <h1 class="text-2xl font-bold text-gray-900">{{ .Container.Title | titleCase }}</h1>
          <p class="text-sm font-medium text-gray-500">{{ .Container.Notes | titleCase }}</p>
        </div>
      </div>
      <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
          {{ template "container-button-group" .}}
      </div>
    </div>

    <div class="mt-8 flex flex-col">
        {{if .Items}}
            {{range .Items}}
              <div class="bg-white shadow overflow-hidden">
                <ul role="list" class="divide-y divide-gray-200">
                  <li>
                    <a href="/containers/{{$.Container.ID}}/items/{{.ID}}"
                       class="block hover:bg-gray-50">
                      <div class="flex items-center px-4 py-4 sm:px-6">
                        <div class="min-w-0 flex-1 flex items-center">
                          <div class="flex-shrink-0">
                            <img class="h-12 w-12 rounded-md"
                                 src="https://via.placeholder.com/50x50"
                                 alt="">
                          </div>
                          <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                            <div>
                              <p class="text-sm font-medium text-indigo-600 truncate">
                                  {{.Name | titleCase}}</p>
                              <p class="mt-2 flex items-center text-sm text-gray-500 truncate">
                                <span class="truncate">{{.Description }}</span>
                              </p>
                            </div>
                            <div class="hidden md:block">
                              <div>
                                <p class="text-sm text-gray-900">
                                  Created on
                                  <time datetime="{{.CreatedAt}}">{{.CreatedAt | humanDate}}</time>
                                </p>
                                  {{if (eq .UpdatedAt .CreatedAt)}}
                                  {{else if (ne .UpdatedAt .CreatedAt)}}
                                    <p class="mt-2 flex items-center text-sm text-gray-500">
                                      Last
                                      Updated {{.UpdatedAt | humanDate}}</p>
                                  {{end}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <!-- Heroicon name: solid/chevron-right -->
                          <svg class="h-5 w-5 text-gray-400"
                               xmlns="http://www.w3.org/2000/svg"
                               viewBox="0 0 20 20"
                               fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd"/>
                          </svg>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            {{ end}}

        {{else}}
          no items here yet
        {{ end}}
    </div>
  </div>
{{end}}
